table {
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

td,
th {
  border: 1px solid;
  padding: 8px;
}

tr:nth-child(1),
td:nth-child(1),
tr:nth-child(3),
td:nth-child(3) {
  width: 15%;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--flash-color);
}

tr:nth-child(even) {
  background-color: var(--gray);
}

tr:hover {
  background-color: var(--light-gray);
}