#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  --primary-color: #1266cc;
  --secondary-color: #f96400;
  --flash-color: rgb(69, 139, 31);
  --gray: #999;
  --light-gray: #e0e0e0;
  --dark-gray: #777;
}

html {
  background-color: #777;
}

code {
  display: block;
  white-space: pre-wrap;
  padding: 1.2rem 2rem;
  border-radius: 1rem;
  background-color: var(--light-gray);
  font-size: 1.4rem;
}

code span {
  transition: all 0.3s;
}

code span.primary-color {
  color: var(--primary-color);
}

code span.secondary-color {
  color: var(--secondary-color);
}

code span.dim-color {
  color: var(--gray);
}

code span.flash {
  background-color: var(--flash-color);
}

details {
  margin: 1.6rem 0;
  padding: 0.5rem 2rem 0.5rem 0;
  border: 1px solid var(--light-gray);
  border-radius: 1rem;
}

details :not(summary, span) {
  margin-left: 2.55rem;
}

details summary {
  padding: 1.2rem;
  cursor: pointer;
}

p,
details code {
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}

p {
  line-height: 2.6rem;
}

p span.code {
  font-family: monospace;
  color: var(--gray);
}

hr {
  margin: 4rem 0;
}

#App h2 {
  margin-bottom: 2rem;
  text-decoration: underline var(--light-gray);
}

#App .container .welcome h1 {
  padding-top: 7.5rem;
  font-size: 2.6rem;
}

#App .container footer a {
  display: inline-block;
  margin: 2rem 1rem 0 0;
}

#App input {
  border: 1px solid black;
  border-radius: 20px;
  padding: 0.5rem;
  text-align: center;
  margin-top: 2rem;
  font-size: large;
}

#App input.address {
  width: 70%;
}

#App input.uint {
  width: 20%;
  margin-right: 2rem;
}

#App button {
  font-weight: bold;
  transition: transform 0.5s;
  cursor: pointer;
  padding: 0.5rem 0.7rem;
  border-radius: 20px;
}

#App button:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

#App button.interact-btn {
  font-size: 2rem;
  margin: 1rem 0 3rem 0;
  background-color: var(--flash-color);
}

#App button.menu-btn {
  font-size: 3rem;
  margin: 3rem;
  background-color: var(--primary-color);
}

#App code {
  background-color: var(--dark-gray);
  color: aquamarine;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #777;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1266cc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e0e0e0;
}